.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 0 10px 0;
    border: 1px solid;
    padding: 5px 80px;
    border-radius: 10px;
}

.title {
    font-size: 25px;
    font-weight: bold;
    margin:0 0 5px 0;
}

.body {
    margin:0 0 12px 0;
}

.removeButton {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}